<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta charset="UTF-8">
<head th:replace="partials/head :: head('footer')"></head>
<body>


<footer class="footer fixed-bottom">
    <div class="pr-2 pl-2">
        <h6><a th:href="@{/aboutUs}" style="float: left;" class="mt-2 footer-a-links pl-2">About Us</a></h6>
        <h6 style="float: right;" class="mt-1 footer-p p-1 login-text pr-2"> © PantryChef 2020</h6>
    </div>
</footer>

<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>