<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Navbar')"></head>

<body>

<nav th:fragment="navbar">
    <nav class="navbar navbar-expand-sm navbar-dark sticky-top">

        <a th:href="@{/}" class="pull-left"><img class="nav-logo" src="/images/imagescontainer/PantryChef%20Logo%201500x1500.png"></a>
        <span th:href="@{/}" class="navbar-brand-text">PantryChef</span>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapse_target">

            <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">

<!--                <li class="nav-item ">-->
<!--                    <a class="nav-link navbar-a-links" th:href="@{/pantrychef}">Pantry Search</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link navbar-a-links" th:href="@{/recipes}">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-a-links" th:href="@{/recipe/create}">Create Recipe</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-a-links" th:href="@{/profile}">Profile</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="nav-link navbar-a-links navbar-btn">Logout</button>
                    </form>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto" sec:authorize="isAnonymous()">
<!--                <li class="nav-item ">-->
<!--                    <a class="nav-link navbar-a-links" th:href="@{/pantrychef}">Pantry Search</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link navbar-a-links" th:href="@{/recipes}">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-a-links" th:href="@{/sign-up}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-a-links" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</nav>

</body>
</html>


