<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="m-0 p-0">
<head th:replace="partials/head :: head('About Us')"></head>
<body class="m-0 p-0 aboutUs-background-image">
<nav th:replace="partials/navbar :: navbar"></nav>



<div class="row d-flex justify-content-around aboutusRow w-100">
<!--    <div class="col-12 w-100">-->
<!--    <nav th:replace="partials/navbar :: navbar"></nav>-->
<!--    </div>-->
    <div class="fancy-cards">
        <div class="fancy-card">
            <div class="top crystal-pic">
                <div class="caption">
                </div>
            </div>
            <div class="middle"></div>
            <div class="bottom"></div>
            <h3 class="title">Crystal Thibodeau</h3>
            <a href="https://github.com/crystalthibodeau"><i class="fab fa-github fa-2x hover-blue"></i></a>
            <a href="https://www.linkedin.com/in/crystal-thibodeau/"><i class="fab fa-linkedin fa-2x hover-blue"></i></a>
            <a href="https://alumni.codeup.com/students/777"><i class="fas fa-graduation-cap fa-2x hover-blue"></i></a>
        </div>
    </div>

    <div class="fancy-cards">
        <div class="fancy-card">
            <div class="top miguel-pic">
                <div class="caption">
                </div>
            </div>
            <div class="middle"></div>
            <div class="bottom"></div>
            <h3 class="title">Miguel Vera</h3>
            <a href="https://github.com/MiguelVera08"><i class="fab fa-github fa-2x hover-blue"></i></a>
            <a href="https://www.linkedin.com/in/miguel-vera08/"><i class="fab fa-linkedin fa-2x hover-blue"></i></a>
            <a href="https://alumni.codeup.com/students/783"><i class="fas fa-graduation-cap fa-2x hover-blue"></i></a>
        </div>
    </div>

    <div class="fancy-cards">
        <div class="fancy-card">
            <div class="top matthew-pic">
            </div>
            <div class="middle"></div>
            <div class="bottom"></div>
            <h3 class="title">Matthew Hettler</h3>
            <a href="https://github.com/matthewHettler"><i class="fab fa-github fa-2x hover-blue"></i></a>
            <a href="https://www.linkedin.com/in/matthewhettler/"><i class="fab fa-linkedin fa-2x hover-blue"></i></a>
            <a href="https://alumni.codeup.com/students/785"><i class="fas fa-graduation-cap fa-2x hover-blue"></i></a>
        </div>
    </div>

    <div class="fancy-cards">
        <div class="fancy-card">
            <div class="top brianna-pic">
                <div class="caption">
                </div>
            </div>
            <div class="middle"></div>
            <div class="bottom"></div>
            <h3 class="title">Brianna Villanueva</h3>
            <a href="https://github.com/BrianaVillanueva"><i class="fab fa-github fa-2x hover-blue"></i></a>
            <a href="https://www.linkedin.com/in/brianavillanueva/"><i class="fab fa-linkedin fa-2x hover-blue"></i></a>
            <a href="https://alumni.codeup.com/students/782"><i class="fas fa-graduation-cap fa-2x hover-blue"></i></a>
        </div>
    </div>

</div>
<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>