<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Post Recipe')"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container m-5">
    <form th:action="@{/recipe/create}" method="post" th:object="${recipe}" style="text-align: center">

        <h1>Share a Recipe</h1>

        <label for="title">Title</label><br>
        <input id="title" name="title" type="text" style="width: 40%"/><br>

        <!-- OLD ingredient text input -->
<!--        <label for="ingredients">Add Ingredient</label>-->
<!--        <input id="ingredients" name="ingredients" type="text" style="width: 23%"/>-->
<!--        <input type="BUTTON" value="Add" id="addIngredient" onclick="">-->

        <!-- NEW ingredient text input -->
<!--        <div class="ingredients-div" id="ingredients-div">-->
<!--            <label for="ingredients-param-0">Add Ingredient</label>-->
<!--            <input id="ingredients-param-0" name="ingredients" placeholder="Input Ingredient" type="text"-->
<!--                   style="width: 23%"/>-->
<!--            <input type="BUTTON" value="Add Ingredient" class="add-ingredient-button" id="add-ingredient-button"-->
<!--                   onclick="addIngredientEventListener()">-->
<!--        </div>-->

        <!-- Ingredients -->
        <label for="ingredient-div">Add Ingredient</label>
        <div class="ingredient-div" id="ingredient-div">
            <input class="form-control" type="text" id="ingredient-param-0" name="ingredient-param"
                   placeholder="Please enter an ingredient.">
        </div>
        <button class="btn btn-dark btn-sm form-control" id="add-ingredient-button">Add Another Ingredient</button>

        <!-- Instructions -->
        <div class="instructions-div" id="instructions-div">
            <input class="form-control" type="text" id="instruction-param-0" name="instruction-param"
                   placeholder="Please enter a cooking step.">
        </div>

        <button class="btn btn-dark btn-sm form-control" id="add-instruction-button">Add Another Instruction</button>


        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" name="quantity" min="1" max="25"><br>

        <label for="categories">Categories:</label>
        <select id="categories" name="categories" class="selectpicker" multiple data-live-search="true" data-flip="false">
            <option name="categories" id="American" value="1">American</option>
            <option name="categories" id="Chinese" value="2">Chinese</option>
            <option name="categories" id="Italian" value="3">Italian</option>
            <option name="categories" id="Vegetarian" value="4">Vegetarian</option>
            <option name="categories" id="Vegan" value="5">Vegan</option>
            <option name="categories" id="Thai" value="6">Thai</option>
            <option name="categories" id="Indian" value="7">Indian</option>
            <option name="categories" id="Mexican" value="8">Mexican</option>
            <option name="categories" id="German" value="9">German</option>
            <option name="categories" id="Greek" value="10">Greek</option>
            <option name="categories" id="Mediterranean" value="11">Mediterranean</option>
            <option name="categories" id="Cajun" value="12">Cajun</option>
            <option name="categories" id="Latin" value="13">Latin</option>
            <option name="categories" id="French" value="14">French</option>
            <option name="categories" id="Filipino" value="15">Filipino</option>
        </select>

        <!--        <div th:each="category : ${categories}">-->
        <!--            <label for="category">Category</label><br>-->
        <!--            <input type="radio" th:value="*{categories.name}"/><br>-->
        <!--        </div>-->

        <!-- Button calls function 'pickMark()' onclick now -->
        <input type="BUTTON" value="Add Recipe Image(s)" id="pickWatermark" onclick="pickMark()"><br><br>
        <input type="hidden" name="recipeImageUrl" id="recipeImageUrl" th:field="*{recipeImageUrl}">
        <input type="submit" value="Submit"/>
    </form>
</div>

<th:block th:replace="partials/scripts :: scripts"/>

<script th:inline="javascript">
    var client = filestack.init(document.querySelector('meta.fsapi').content);

    //The function pickMark now will open the file picker
    function pickMark() {
        console.log("Uploading Photo");
        //Opening the file picker here
        client.pick({
            accept: 'image/*',
            maxFiles: 1
        }).then(function (result) {
            console.log("File url: " + result.filesUploaded[0].url);
            console.log(pickWatermark);
            document.getElementById("recipeImageUrl").value = result.filesUploaded[0].url;
        });
    }
</script>

</body>
</html>