<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Post Recipe')"></head>
<body class="create-recipe-background">
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <br>
    <br>
    <br>
    <div class="row align-items-center">
        <div class="col-8 mx-auto text-center p-3 card card-block shadow-lg">
            <form th:action="@{/recipe/create}" method="post" th:object="${recipe}">

                <h1 class="text-center login-text">Share a Recipe</h1>


                <label for="title" class="font-weight-bold">Title</label>
                <input id="title" placeholder="Please enter title.." class="mx-auto m-1 shadow-sm form-control" name="title" type="text"/>

                <!-- Ingredients -->
                <label for="ingredient-div" class="m-1 font-weight-bold">Add Ingredient</label>
                <div class="ingredient-div" id="ingredient-div">
                    <input class="mx-auto m-1 shadow-sm form-control" type="text" id="ingredient-param-0" name="ingredient-param"
                           placeholder="Please enter ingredient..">
                </div>
                <button class="mx-auto m-1 form-control create-recipe-button" id="add-ingredient-button"> Add </button><br>

                <!-- Instructions -->
                <label for="instructions-div" class="m-1 font-weight-bold">Add Directions</label>
                <div class="instructions-div" id="instructions-div">
                    <input class="mx-auto m-1 shadow-sm form-control" type="text" id="instruction-param-0" name="instruction-param"
                           placeholder="Please enter cooking step..">
                </div>

                <button class="mx-auto m-1 form-control create-recipe-button" id="add-instruction-button"> Add </button>

                <label for="categories" class="m-1 font-weight-bold">Select Categories</label><br>
                <select class="m-1 create-recipe-select selectpicker text-center" id="categories" name="categories" multiple data-live-search="true"
                        data-flip="false">
<!--                    <option selected>Select Category</option>-->
                    <option name="categories" id="American" value="1">American</option>
                    <option name="categories" id="Chinese" value="2">Chinese</option>
                    <option name="categories" id="Italian" value="3">Italian</option>
                    <option name="categories" id="Vegetarian" value="4">Vegetarian</option>
                    <option name="categories" id="Vegan" value="5">Vegan</option>
                    <option name="categories" id="Thai" value="6">Thai</option>
                    <option name="categories" id="Indian" value="7">Indian</option>
                    <option name="categories" id="Mexican" value="8">Mexican</option>
                    <option name="categories" id="German" value="9">German</option>
                    <option name="categories" id="Greek" value="10">Greek</option>
                    <option name="categories" id="Mediterranean" value="11">Mediterranean</option>
                    <option name="categories" id="Cajun" value="12">Cajun</option>
                    <option name="categories" id="Latin" value="13">Latin</option>
                    <option name="categories" id="French" value="14">French</option>
                    <option name="categories" id="Filipino" value="15">Filipino</option>
                </select>

                <!-- Button calls function 'pickMark()' onclick now -->
                <input type="BUTTON" value=" Add Image " id="pickWatermark" class="mx-auto m-1 form-control create-recipe-button" onclick="pickMark()"><br><br>
                <input type="hidden" name="recipeImageUrl" id="recipeImageUrl" th:field="*{recipeImageUrl}">
                <input type="submit" class="create-recipe-button" value="Submit"/>

            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<!--<footer th:replace="partials/footer :: footer"></footer>-->
<th:block th:replace="partials/scripts :: scripts"/>

<script th:inline="javascript">
    var client = filestack.init(document.querySelector('meta.fsapi').content);

    //The function pickMark now will open the file picker
    function pickMark() {
        console.log("Uploading Photo");
        //Opening the file picker here
        client.pick({
            accept: 'image/*',
            maxFiles: 1
        }).then(function (result) {
            console.log("File url: " + result.filesUploaded[0].url);
            console.log(pickWatermark);
            document.getElementById("recipeImageUrl").value = result.filesUploaded[0].url;
        });
    }
</script>

</body>
</html>