<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Post Recipe')"></head>
<body>
<form th:action="@{/recipe/create}" method="post" th:object="${recipe}" style="text-align: center">
    <h1>Share a Recipe</h1>
    <label for="title">Title</label><br>
    <input id="title" name="title" type="text" style="width: 40%"/><br>
    <label for="ingredients">Ingredients</label><br>
    <input id="ingredients" name="ingredients" type="text" style="width: 33%"/>
    <label for="quantity">Quantity</label>
    <input type="number" id="quantity" name="quantity" min="1" max="25"><br>
    <label for="directions">Directions</label><br>
    <input id="directions" name="directions" type="text" style="width: 40%"/><br><br>
    <!-- Button calls function 'pickMark()' onclick now -->
    <input type="BUTTON" value="Add Recipe Image(s)" id="pickWatermark" onclick="pickMark()"><br><br>
    <label for="path">Path test</label><br>
    <input id="path" name="path" type="text" style="width: 40%"/><br><br>
    <input type="submit" value="Submit" />
</form>
<th:block th:replace="partials/scripts :: scripts"/>

<!--<script>-->

<!--    var client = filestack.init(document.querySelector('meta.fsapi').content);-->
<!--    //The function pickMark now will open the file picker-->
<!--    function pickMark() {-->
<!--        console.log("Uploading Photo");-->
<!--        //Opening the file picker here-->
<!--        client.pick({-->
<!--            accept: 'image/*',-->
<!--            maxFiles:3-->
<!--        }).then(function(result) {-->
<!--            console.log(result);-->
<!--            for(var i = 0; i < result.filesUploaded.length; i++){-->
<!--                console.log("File url: " + result.filesUploaded[i].url);-->
<!--            }-->
<!--        });-->
<!--    }-->

<!--</script>-->
<script>
    var client = filestack.init(document.querySelector('meta.fsapi').content);
    //The function pickMark now will open the file picker
    function pickMark() {
        console.log("Uploading Photo");
        //Opening the file picker here
        client.pick({
            accept: 'image/*',
            maxFiles:3
        }).then(function(result) {
            const image_urls = [];
            for(var i = 0; i < result.filesUploaded.length; i++){
                image_urls.push("File url: " + result.filesUploaded[i].url);
            }
            const url = '/recipies/image_store';
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(image_urls),
            };
            fetch(url, options)
                .then(console.log("filesUploaded"))
                .catch(console.log("filenotUploaded"));
        });
    }
</script>

</body>
</html>