<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Post Recipe')"></head>
<body>
<form th:action="@{/create}" method="post" style="text-align: center">
    <h1>Share a Recipe</h1>
    <label for="title">Title</label><br>
    <input id="title" name="title" type="text" style="width: 40%"/><br>
    <label for="ingredients">Ingredients</label><br>
    <input id="ingredients" name="ingredients" type="text" style="width: 40%"/><br>
    <label for="directions">Directions</label><br>
    <input id="directions" name="directions" type="text" style="width: 40%"/><br><br>
    <!-- Button calls function 'pickMark()' onclick now -->
    <input type="BUTTON" value="Add Recipe Image(s)" id="pickWatermark" onclick="pickMark()"><br><br>
    <input type="submit" value="Submit" />
</form>
<th:block th:replace="partials/scripts :: scripts"/>

<script>
    var client = filestack.init("AkmwMYi2RdHJ7ek86PGwiz");
    //The function pickMark now will open the file picker
    function pickMark() {
        console.log("Uploading Photo");
        //Opening the file picker here
        client.pick({
            accept: 'image/*',
            maxFiles:3
        }).then(function(result) {
            console.log(result);
            for(var i = 0; i < result.filesUploaded.length; i++){
                console.log("File url: " + result.filesUploaded[i].url);
            }
        });
    }
</script>

</body>
</html>