<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Profile')"></head>
<style>

</style>
<body class="profileFromRecipe-background-image">

<nav th:replace="partials/navbar :: navbar"></nav>

<div sec:authorize="isAuthenticated()">

    <div class="container">
        <div class="row">
            <img alt="" class="profileImages rounded-circle mt-5" th:attr="src=@{${user.profileImageUrl}}"
                 style="height: 16em; width: auto"/>
            <div class="row justify-content-start mt-5">
                <div class="col-3 my-auto">
                    <h1 class="m-3 profileFromRecipeText" th:text="${user.username} + '\'s' + ' Profile'"></h1>
                    <!--                        <div th:if="${user.admin}">-->
                    <!--                            <a th:href="@{|/edit/${user.id}|}">-->
                    <!--                                <button>Edit profile</button>-->
                    <!--                            </a>-->
                    <!--                        </div>-->
                </div>
            </div>


            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h1 class="mt-5 profileFromRecipeText text-center" th:text="${user.username} + '\'s' + ' Recipes'"></h1>

                        <div class="card-columns">
                            <div th:each="recipe : ${recipes}">
                                <div th:if="${user.id} == ${recipe.user.id}">
                                    <div class="card shadow-lg rounded">
                                        <img class="card-img-top" style="height: 16em;"
                                             th:attr="src=@{${recipe.recipeImageUrl}}" alt="Recipe image">
                                        <div class="card-body">
                                            <a th:href="@{|/recipes/${recipe.id}|}"><h1 class="card-title"
                                                                                        th:text="${recipe.title}"></h1>
                                            </a>
                                            <p style="font-weight: bold">Ingredients:</p>
                                            <div th:each="ingredient : ${recipe.ingredientList}">
                                                <p th:text="${ingredient.name}"></p>
                                            </div>
                                            <p style="font-weight: bold">Instructions:</p>
                                            <div th:each="instruction : ${recipe.instructionList}">
                                                <p th:text="${instruction.name}"></p>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div sec:authorize="isAuthenticated()">
                                                <div th:if="${user.id} == ${recipe.user.id}">
                                                    <small class="text-muted"><a
                                                            th:href="@{|/recipe/${recipe.id}/edit|}">
                                                        <button>Edit Post</button>
                                                    </a></small>
                                                    <form th:action="@{|/recipe/${recipe.id}/delete|}"
                                                          th:method="POST"
                                                          style="display:inline">
                                                        <small class="text-muted">
                                                            <button>Delete Post</button>
                                                        </small>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>


                <div class="tab-pane fade text-center" id="profile" role="tabpanel"
                     aria-labelledby="profile-tab">
                    <h1 class="m-3" th:text="${user.username} + '\'s' + ' Saved Recipes'"></h1>
                    <div class="card-columns">
                        <div th:each="recipe : ${recipes}">
                            <div th:if="${user.id} == ${recipe.user.id}">
                                <div class="card">
                                    <img class="card-img-top" style="height: 16em;"
                                         th:attr="src=@{${recipe.recipeImageUrl}}" alt="Recipe image">
                                    <div class="card-body">
                                        <a th:href="@{|/recipes/${recipe.id}|}"><h5 class="card-title"
                                                                                    th:text="${recipe.title}"></h5>
                                        </a>
                                        <p style="font-weight: bold">Ingredients:</p>
                                        <div th:each="ingredient : ${recipe.ingredientList}">
                                            <p th:text="${ingredient.name}"></p>
                                        </div>
                                        <p style="font-weight: bold">Instructions:</p>
                                        <div th:each="instruction : ${recipe.instructionList}">
                                            <p th:text="${instruction.name}"></p>
                                        </div>
                                        <div class="card-footer">
                                            <div sec:authorize="isAuthenticated()">
                                                <div th:if="${user.id} == ${recipe.user.id}">
                                                    <small class="text-muted"><a
                                                            th:href="@{|/recipe/${recipe.id}/edit|}">
                                                        <button>Edit Post</button>
                                                    </a></small>
                                                    <form th:action="@{|/recipe/${recipe.id}/delete|}"
                                                          th:method="POST"
                                                          style="display:inline">
                                                        <small class="text-muted">
                                                            <button>Delete Post</button>
                                                        </small>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<br>
<br>

<th:block th:replace="partials/scripts :: scripts"/>

<!--<script>-->
<!--    var client = filestack.init(document.querySelector('meta.fsapi').content);-->

<!--    //The function pickMark now will open the file picker-->
<!--    function pickMark() {-->
<!--        console.log("Uploading Photo");-->
<!--        //Opening the file picker here-->
<!--        client.pick({-->
<!--            accept: 'image/*',-->
<!--            //Only accepting at most 1 file-->
<!--            maxFiles: 1-->
<!--        }).then(function (result) {-->
<!--            // file url (plus mimetype, size and more)-->
<!--            // can be found inside the result object-->
<!--            console.log(result);-->
<!--            console.log("File url: " + result.filesUploaded[0].url);-->
<!--        });-->
<!--    }-->
<!--</script>-->

</body>
</html>