<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Profile')"></head>
<body style="margin: auto">
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container m-5">

<!--Welcome <span th:text="${#authentication.principal.username}"/>-->

<h1 th:text="'Welcome, ' + ${user.first_name} + ' ' + ${user.last_name} + '!'"></h1>
<img alt="" class="profileImages" th:attr="src=@{${user.profileImageUrl}}" style="height: 250px; width: auto" />
<h1 th:text="${user.email}"></h1>

<th:block th:replace="partials/scripts :: scripts"/>

<!-- Button calls function 'pickMark()' onclick now -->
<input type="BUTTON" value="Edit Profile Picture" id="pickWatermark" onclick="pickMark()">


    <div th:each="recipe : ${recipes}">
        <div th:if="${user.id} == ${recipe.user.id}">
            <a th:href="@{|/recipes/${recipe.id}|}"><h1 th:text="${recipe.title}"></h1></a>
            <a th:href="@{|/recipes/${recipe.id}|}"><h6 th:text="'Posted by: ' + ${recipe.user.username}"></h6></a>
            <!--            <p th:text="${recipe.user.username}"></p>-->
            <img alt="" class="recipeImages" th:attr="src=@{${recipe.recipeImageUrl}}" style="height: 250px; width: auto" />
            <p style="font-weight: bold">Ingredient(s):</p>
            <p th:text="${recipe.ingredient}"></p>
            <p style="font-weight: bold">Directions:</p>
            <p th:text="${recipe.directions}"></p>
            <!--            <a th:href="'mailto:'+${recipe.user.email}"><span th:text="${recipe.user.email}"></span></a>-->
            <br>
            <br>
            <div sec:authorize="isAuthenticated()">
                <div th:if="${user.id} == ${recipe.user.id}">
                    <a th:href="@{|/recipe/${recipe.id}/edit|}"><button>Edit Post</button></a>
                    <form th:action="@{|/recipe/${recipe.id}/delete|}" th:method="POST" style="display:inline">
                        <button>Delete Post</button>
                    </form>
                </div>
            </div>

            <hr>
        </div>

    </div>
</div>


<script>
    var client = filestack.init(document.querySelector('meta.fsapi').content);
    //The function pickMark now will open the file picker
    function pickMark() {
        console.log("Uploading Photo");
    //Opening the file picker here
    client.pick({
        accept: 'image/*',
        //Only accepting at most 1 file
        maxFiles:1
    }).then(function(result) {
        // file url (plus mimetype, size and more)
        // can be found inside the result object
        console.log(result);
        console.log("File url: " + result.filesUploaded[0].url);
    });
}
</script>

<p>View your saved recipes!</p>

</body>
</html>