<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Profile')"></head>
<style>


</style>
<body class="profile-background" style="margin: 0 auto">
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="wrapper">

    <main class="container">


        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 mt-0">

        <div class="col m-4 mx-auto">
                <div class="card shadow bg-white rounded">
                    <img alt="card-image-top" class="card-image-top mx-auto img-fluid" th:attr="src=@{${user.profileImageUrl}}">

                    <div class="card-body">
                        <h1 class="welcome-text card-title text-center">Welcome,</h1>
                        <h1 class="welcome-text card-title text-center" th:text="${user.first_name} + ' ' + ${user.last_name}"></h1>
                        <h3 th:text="${user.username}" class="text-center"></h3>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted d-flex justify-content-center align-items-center">
                            <a th:href="@{|/edit/${user.id}|}" class="d-flex justify-content-center align-items-center profileFromRecipeNoUnderline">
                                <button class="button fas fa-user-edit fa-3x"></button>
                            </a>
                        </small>
                    </div>
                </div>
            </div>

        </div>
        <!--        This is the end of the profile image and profile info section-->

        <div class="row profile-background-color rounded">
            <div class="col-2"></div>
            <div class="col-8 text-left">
                <h1 class="login-text text-center pt-2">My Recipes</h1>
                <hr class="w-75 mt-2 profile-hr">
            </div>
            <div class="col-2 text-right">
                <a th:href="@{|/list|}" class="text-right profileFromRecipeNoUnderline">
                    <button class="button fas fa-shopping-basket fa-2x pt-3"></button>
                </a>
                <a th:href="@{|/recipe/create|}" class="text-right profileFromRecipeNoUnderline">
                    <button class="button fas fa-file-alt fa-2x pt-3"></button>

                </a>
            </div>
        </div>

        <!--   Create cards that hold the recipes image and button to show create a modal that will show more in formation.     -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 mt-0 mb-4 profile-background-color">

            <div th:each="recipe : ${recipes}" th:if="${user.id} == ${recipe.user.id}">

                <div class="col mb-4">
                    <div class="card recipe-card shadow bg-white rounded">
                        <img class="card-img-top" style="height: 16em;" th:attr="src=@{${recipe.recipeImageUrl}}"
                             alt="Recipe image">
                        <div class="card-body">
                            <h4 class="card-title text-center" th:text="${recipe.title}"></h4>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted d-flex justify-content-center align-items-center">

                                <button type="button" class="btn profileFromRecipeButton" data-toggle="modal"
                                        data-target="#recipeModalLong" th:attrappend="data-target=${recipe.id}">
                                    See Recipe Details
                                </button>
                            </small>
                        </div>
                    </div>
                </div>

                <!--      Modal that will hold recipe details       -->
                <div class="modal fade" id="recipeModalLong" tabindex="-1" role="dialog" aria-labelledby="recipeModalLongTitle" aria-hidden="true" th:attrappend="id=${recipe.id}">

                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div sec:authorize="isAuthenticated()">
                                    <a th:href="@{|/profile/${recipe.user.id}|}"><h5 class="modal-title text-center profileFromRecipeAnchorTags" id="recipeModalLongTitle" th:text="${recipe.title + ' | Posted by: ' + recipe.user.username}"></h5>
                                    </a>
                                </div>
                                <div sec:authorize="isAnonymous()">
                                    <a th:href="@{|/profile/${recipe.user.id}|}"><h5 class="modal-title text-center profileFromRecipeAnchorTags" id="recipeModalLongTitle" th:text="${recipe.title + ' | Posted by: ' + recipe.user.username}"></h5>
                                    </a>
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-image mx-auto">
                                <!--    Image for recipe    -->
                                <img class="profileFromRecipeModuleImage" th:attr="src=@{${recipe.recipeImageUrl}}"
                                     alt="Recipe image">
                            </div>
                            <div class="modal-body">
                                <!--    Display the recipes cuisines    -->
                                <h5 class="modal-instructions-title profileFromRecipeText">Category</h5>
                                <ul class="modal-cuisine d-flex p-0">
                                    <div th:each="category : ${recipe.categories}">
                                        <li class="mr-2" th:text="${category.name}"></li>
                                    </div>
                                </ul>
                                <!--      Display Ingredients title         -->
                                <h5 class="modal-instructions-title profileFromRecipeText">Ingredients</h5>
                                <!--    List displaying the ingredients    -->
                                <ul class="ingredient-list-group p-0">
                                    <!--      Ingredients will display here dynamically      -->
                                    <div th:each="ingredient : ${recipe.ingredientList}">
                                        <li class="list-group-item mt-1 mb-1" th:text="${ingredient.name}"></li>
                                    </div>
                                </ul>
                                <!--      Display Instructions-->
                                <h5 class="modal-instructions-title profileFromRecipeText">Directions</h5>

                                <ul class="instruction-list-group p-0">
                                    <!--      Instructions will display here dynamically      -->
                                    <div th:each="instruction : ${recipe.instructionList}">
                                        <li class="list-group-item mt-1 mb-1" th:text="${instruction.name}"></li>
                                    </div>
                                </ul>

                                <h5 class="modal-instructions-title profileFromRecipeText">Comments</h5>

                                <hr class="profileFromRecipe-hr-v2 w-100 p-0 my-1">

                                <div th:each="comment : ${recipe.comments}" class="container">
                                    <div class="row text-left">
                                        <div class="col-8 p-0">
                                            <a th:href="@{|/profile/${recipe.user.id}|}" class="m-0 p-0 profileFromRecipeAnchorTags"><p
                                                    th:text="${comment.user.username}" class="m-0 p-0"></p></a>
                                        </div>
                                        <div class="col-4 p-0">
                                            <p th:text="${comment.commentedAt}"
                                               class="p-0 m-0 text-muted text-right"></p>
                                        </div>
                                        <div class="col-12 p-0">
                                            <p th:text="${comment.comment}" class="p-0 m-0"></p>
                                        </div>
                                    </div>
                                    <div class="row text-left">
                                        <div sec:authorize="isAuthenticated()">
                                            <div th:if="${user.id} == ${comment.user.id} OR ${user.admin}">
                                                <form th:action="@{|/comments/delete/${comment.id}|}" th:method="POST" style="display:inline">
                                                    <button class="button fas fa-trash fa-lg"></button>
                                                </form>
                                                <a th:href="@{|/comment/${comment.id}/edit|}">
                                                    <button class="button fas fa-edit fa-lg"></button>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-12 p-0">
                                            <hr class="profileFromRecipe-hr-v2 w-100 p-0 my-1">
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-recipeSource">
                                    <p class="sourceUrl mt-3">Click on the title to see recipe owner.</p>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div sec:authorize="isAuthenticated()">
                                    <div th:if="${user.admin} OR ${user.id} == ${recipe.user.id}" class="w-75 d-inline text-left">
                                        <a class="profileFromRecipeNoUnderline d-inline"
                                           th:href="@{|/recipe/${recipe.id}/edit|}">
                                            <button class="button fas fa-edit fa-2x"></button>
                                        </a>
                                        <form th:action="@{|/recipe/${recipe.id}/delete|}" th:method="POST" style="display:inline" class="d-inline mt-2 p-0 m-0">
                                            <button class="button fas fa-trash fa-2x"></button>
                                        </form>
                                    </div>
                                    <a class="profileFromRecipeNoUnderline d-inline"
                                       th:href="@{|/comments/post/${recipe.id}|}">
                                        <button class="button fas fa-comment fa-2x"></button>
                                    </a>
                                </div>
                                <div sec:authorize="!isAuthenticated()">
                                    <a class="profileFromRecipeNoUnderline d-inline"
                                       th:href="@{/login}">
                                        <button class="button fas fa-comment fa-2x"></button>
                                    </a>
                                </div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </main>

</div>

<th:block th:replace="partials/scripts :: scripts"/>

</body>
</html>