<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Profile')"></head>
<style>

</style>
<body class="profileFromRecipe-background-image" style="margin: 0 auto">
<nav th:replace="partials/navbar :: navbar"></nav>


<div class="wrapper">
    <main class="container">

        <div class="row mb-5 profileFromRecipeBackgroundColor">
            <div class="col-md-2 p-0">
                <div>
                    <img alt="" class="profileImages p-3" th:attr="src=@{${user.profileImageUrl}}">
                </div>
            </div>
            <div class="flex-column d-flex ml-3">
                <h1 class="profileFromRecipeText profileFromRecipeTextV2 profileFromRecipeTextMargin"
                    th:text="${user.username} + '\'s' + ' Profile'"></h1>
                <h1 class="profileFromRecipeText profileFromRecipeTextV2" th:text="${user.email}"></h1>
            </div>
        </div>

        <div class="row profileFromRecipeBackgroundColor text-center">
            <div class="col-md-12">
                <h1 class="profileFromRecipeText mb-0 mt-2" th:text="${user.username} + '\'s' + ' Recipes'"></h1>
                <hr class="profileFromRecipe-hr w-75 mt-2">
            </div>
        </div>

        <!--   Create cards that hold the recipes image and button to show create a modal that will show more in formation.     -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 profileFromRecipeBackgroundColor">

            <div th:each="recipe : ${recipes}" th:if="${user.id} == ${recipe.user.id}">

                <div class="col mb-4">
                    <div class="card recipe-card shadow bg-white rounded">
                        <img class="card-img-top" style="height: 16em;" th:attr="src=@{${recipe.recipeImageUrl}}"
                             alt="Recipe image">
                        <div class="card-body">
                            <h4 class="card-title text-center" th:text="${recipe.title}"></h4>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted d-flex justify-content-center align-items-center">
                                <!--                                <a th:href="@{|/recipes/${recipe.id}|}">-->
                                <!--                                    <button class="recipe-button">View Details</button>-->
                                <!--                                </a>-->
                                <button type="button" class="btn profileFromRecipeButton" data-toggle="modal"
                                        data-target="#recipeModalLong" th:attrappend="data-target=${recipe.id}">
                                    See Recipe Details
                                </button>
                            </small>
                        </div>
                    </div>
                </div>

                <!--      Modal that will hold recipe details       -->
                <div class="modal fade" id="recipeModalLong" tabindex="-1" role="dialog"
                     aria-labelledby="recipeModalLongTitle" aria-hidden="true" th:attrappend="id=${recipe.id}">

                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div sec:authorize="isAuthenticated()">
                                    <a th:href="@{|/profile/${recipe.user.id}|}"><h4 class="modal-title text-center profileFromRecipeAnchorTags"
                                                                                     id="recipeModalLongTitle"
                                                                                     th:text="${recipe.title + ' | Posted by: ' + recipe.user.username}"></h4>
                                    </a>
                                </div>
                                <div sec:authorize="isAnonymous()">
                                    <a th:href="@{|/profile/${recipe.user.id}|}"><h4 class="modal-title text-center profileFromRecipeAnchorTags"
                                                                                     id="recipeModalLongTitle"
                                                                                     th:text="${recipe.title + ' | Posted by: ' + recipe.user.username}"></h4>
                                    </a>
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-image mx-auto">
                                <!--    Image for recipe    -->
                                <img class="profileFromRecipeModuleImage" th:attr="src=@{${recipe.recipeImageUrl}}"
                                     alt="Recipe image">
                            </div>
                            <div class="modal-body">
                                <!--    Display the recipes cuisines    -->
                                <h5 class="modal-instructions-title profileFromRecipeText">Category</h5>
                                <ul class="modal-cuisine p-0">
                                    <div class="row">
                                        <div class="col-md-12 d-inline-block">
                                            <div th:each="category : ${recipe.categories}">
                                                <span th:text="${category.name}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                                <!--      Display Ingredients title         -->
                                <h5 class="modal-instructions-title profileFromRecipeText">Ingredients</h5>
                                <!--    List displaying the ingredients    -->
                                <ul class="ingredient-list-group p-0">
                                    <!--      Ingredients will display here dynamically      -->
                                    <div th:each="ingredient : ${recipe.ingredientList}">
                                        <li class="list-group-item mt-1 mb-1" th:text="${ingredient.name}"></li>
                                    </div>
                                </ul>
                                <!--      Display Instructions-->
                                <h5 class="modal-instructions-title profileFromRecipeText">Directions</h5>

                                <ul class="instruction-list-group p-0">
                                    <!--      Instructions will display here dynamically      -->
                                    <div th:each="instruction : ${recipe.instructionList}">
                                        <li class="list-group-item mt-1 mb-1" th:text="${instruction.name}"></li>
                                    </div>
                                </ul>

                                <h5 class="modal-instructions-title profileFromRecipeText">Comments</h5>
                                <!--                                <div class="row text-left">-->
                                <!--                                    <div class="col-12 p-0">-->
                                <hr class="profileFromRecipe-hr-v2 w-100 p-0 my-1">
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <div th:each="comment : ${recipe.comments}" class="container">
                                    <div class="row text-left">
                                        <div class="col-8 p-0">
                                            <a th:href="@{|/profile/${recipe.user.id}|}" class="m-0 p-0 profileFromRecipeAnchorTags"><p
                                                    th:text="${comment.user.username}" class="m-0 p-0"></p></a>
                                        </div>
                                        <div class="col-4 p-0">
                                            <p th:text="${comment.commentedAt}"
                                               class="p-0 m-0 text-muted text-right"></p>
                                        </div>
                                        <div class="col-12 p-0">
                                            <p th:text="${comment.comment}" class="p-0 m-0"></p>
                                        </div>
                                    </div>
                                    <div class="row text-left">
                                        <div class="col-12 p-0">
                                            <hr class="profileFromRecipe-hr-v2 w-100 p-0 my-1">
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-recipeSource">
                                    <p class="sourceUrl mt-3">Click on the title to see recipe owner.</p>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <!--                                <div sec:authorize="isAuthenticated()">-->
                                <!--                                    <div th:if="${user.admin} OR ${user.id} == ${recipe.user.id}">-->
                                <!--                                        <a class="profileFromRecipeNoUnderline"-->
                                <!--                                           th:href="@{|/recipe/${recipe.id}/edit|}">-->
                                <!--                                            <button type="button" class="btn profileFromRecipeButton">Edit</button>-->
                                <!--                                        </a>-->
                                <!--                                        <form th:action="@{|/recipe/${recipe.id}/delete|}" th:method="POST"-->
                                <!--                                              style="display:inline">-->
                                <!--                                            <button type="button" class="btn profileFromRecipeButton">Delete</button>-->
                                <!--                                        </form>-->
                                <!--                                        <a class="profileFromRecipeNoUnderline"-->
                                <!--                                           th:href="@{|/comments/post/${recipe.id}|}">-->
                                <!--                                            <button type="button" class="btn profileFromRecipeButton">Comment</button>-->
                                <!--                                        </a>-->
                                <!--                                    </div>-->
                                <!--                                    <div th:if="${user.id} != ${recipe.user.id}">-->
                                <!--                                        <a class="profileFromRecipeNoUnderline"-->
                                <!--                                           th:href="@{|/comments/post/${recipe.id}|}">-->
                                <!--                                            <button type="button" class="btn profileFromRecipeButton">Comment</button>-->
                                <!--                                        </a>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <!--                                <div sec:authorize="isAuthenticated()">-->
                                <!--                                    <a class="profileFromRecipeNoUnderline"-->
                                <!--                                       th:href="@{|/comments/post/${recipe.id}|}">-->
                                <!--                                        <button type="button" class="btn profileFromRecipeButton">Comment</button>-->
                                <!--                                    </a>-->
                                <!--                                </div>-->
                                <button type="button" class="btn profileFromRecipeButtonV2" data-dismiss="modal">
                                    Close
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </main>
</div>

<!--<footer th:replace="partials/footer :: footer"></footer>-->
<th:block th:replace="partials/scripts :: scripts"/>

</body>
</html>