<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Recipes')"></head>
<body style="margin: 0 auto">
<div class="wrapper">
    <nav th:replace="partials/navbar :: navbar"></nav>
<!--    <header class="container my-5">-->
<!--        <div class="jumbotron">-->
<!--            <h1 class="text-center display-1">Recipes</h1>-->
<!--        </div>-->
<!--    </header>-->
    <main class="container m-5">

        <form action="#" th:action="@{/recipes}" method="get" class="input-group">
            <input class="form-control form-control-dark" type="text" th:id="${search}" placeholder="Search" name="search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-outline-dark">Search</button>
            </div>
        </form>

        <div th:each="recipe : ${recipes}">
            <a th:href="@{|/recipes/${recipe.id}|}"><h1 th:text="${recipe.title}"></h1></a>
            <a th:href="@{|/profile/${recipe.user.username}|}"><h6 th:text="'Posted by: ' + ${recipe.user.username}"></h6></a>
<!--            <p th:text="${recipe.user.username}"></p>-->
            <img alt="" class="recipeImages" th:attr="src=@{${recipe.recipeImageUrl}}" style="height: 250px; width: auto" />
            <p style="font-weight: bold">Ingredient(s):</p>

            <div th:each="ingredient : ${recipe.ingredientList}">
                <p th:text="${ingredient.name}"></p>
            </div>

            <p style="font-weight: bold">Directions:</p>
            <p th:text="${recipe.directions}"></p>
            <br>
            <br>
            <div sec:authorize="isAuthenticated()">
                <div th:if="${user.isAdmin()}">
                    <form th:action="@{|/recipe/${recipe.id}/delete|}" th:method="POST" style="display:inline">
                        <button>Delete</button>
                    </form>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()">
                <div th:if="${user.id} == ${recipe.user.id}">
                    <a th:href="@{|/recipe/${recipe.id}/edit|}"><button>Edit</button></a>
                    <form th:action="@{|/recipe/${recipe.id}/delete|}" th:method="POST" style="display:inline">
                        <button>Delete</button>
                    </form>
                </div>
            </div>

            <hr>
        </div>
    </main>
</div>
<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>