<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Recipes')"></head>

<body style="margin: 0 auto">


<div class="wrapper">
    <nav th:replace="partials/navbar :: navbar"></nav>
    <!--    <header class="container my-5">-->
    <!--        <div class="jumbotron">-->
    <!--            <h1 class="text-center display-1">Recipes</h1>-->
    <!--        </div>-->
    <!--    </header>-->
    <main class="container">
        <div class="row">
            <div class="col">
                <form action="#" th:action="@{/recipes}" method="get"
                      class="p-0 mt-5 input-group d-flex justify-content-center align-items-center container">
                    <input class="form-control" type="text" th:id="${search}" placeholder="Search" name="search"
                           aria-label="Search">
                    <div class="input-group-append">
                        <button class="navbar-btn recipe-button-search">Search</button>
                    </div>
                </form>
            </div>
        </div>

        <form action="#" th:action="@{/recipes}" method="get">
            <label for="categories">Categories:</label>
            <select th:id="${value}" id="categories" name="categories" class="selectpicker" multiple
                    data-live-search="true"
                    data-flip="false">
                <option name="categories" id="American" value="1">American</option>
                <option name="categories" id="Chinese" value="2">Chinese</option>
                <option name="categories" id="Italian" value="3">Italian</option>
                <option name="categories" id="Vegetarian" value="4">Vegetarian</option>
                <option name="categories" id="Vegan" value="5">Vegan</option>
                <option name="categories" id="Thai" value="6">Thai</option>
                <option name="categories" id="Indian" value="7">Indian</option>
                <option name="categories" id="Mexican" value="8">Mexican</option>
                <option name="categories" id="German" value="9">German</option>
                <option name="categories" id="Greek" value="10">Greek</option>
                <option name="categories" id="Mediterranean" value="11">Mediterranean</option>
                <option name="categories" id="Cajun" value="12">Cajun</option>
                <option name="categories" id="Latin" value="13">Latin</option>
                <option name="categories" id="French" value="14">French</option>
                <option name="categories" id="Filipino" value="15">Filipino</option>
            </select>
            <button class="navbar-btn" type="submit">Search</button>
        </form>


        <!--   Create cards that hold the recipes image and button to show create a modal that will show more in formation.     -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            <div th:each="recipe : ${recipes}">
                <div class="col mb-4">
                    <div class=" shadow bg-white rounded">
                        <img class="card-img-top" style="height: 16em;" th:attr="src=@{${recipe.recipeImageUrl}}" alt="Recipe image">
                        <div class="card-body">
                            <h4 class="card-title text-center" th:text="${recipe.title}"></h4>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted d-flex justify-content-center align-items-center">
<!--                                <a th:href="@{|/recipes/${recipe.id}|}">-->
<!--                                    <button class="recipe-button">View Details</button>-->
<!--                                </a>-->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#recipeModalLong" th:attrappend="data-target=${recipe.id}">
                                    See Recipe Details
                                </button>
                            </small>
                        </div>
                    </div>
                </div>

                <!--      Modal that will hold recipe details       -->
                <div class="modal fade" id="recipeModalLong" tabindex="-1" role="dialog" aria-labelledby="recipeModalLongTitle" aria-hidden="true" th:attrappend="id=${recipe.id}">

                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div sec:authorize="isAuthenticated()">
                                    <a th:href="@{|/profile/${recipe.user.id}|}"><h4 class="modal-title text-center" id="recipeModalLongTitle" th:text="${recipe.title + 'Posted by: ' + recipe.user.username}"></h4></a>
                                </div>
                                <div sec:authorize="isAnonymous()">
                                    <a th:href="@{|/profile/${recipe.user.id}|}"><h4 class="modal-title text-center" id="recipeModalLongTitle" th:text="${recipe.title + 'Posted by: ' + recipe.user.username}"></h4></a>
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-image mx-auto">
                                <!--    Image for recipe    -->
                                <img style="height: 16em;" th:attr="src=@{${recipe.recipeImageUrl}}" alt="Recipe image">
                            </div>
                            <div class="modal-body">
                                <!--    Display the recipes cuisines    -->
                                <ul class="modal-cuisine">
                                    <div th:each="category : ${recipe.categories}">
                                        <li th:text="${category.name}"></li>
                                    </div>
                                </ul>
<!--                                &lt;!&ndash;      Display Ingredients title         &ndash;&gt;-->
<!--                                <h5 class="modal-instructions-title">Ingredients</h5>-->
<!--                                &lt;!&ndash;    List displaying the ingredients    &ndash;&gt;-->
<!--                                <ul class="ingredient-list-group">-->
<!--                                    &lt;!&ndash;      Ingredients will display here dynamically      &ndash;&gt;-->
<!--                                    <div th:each="ingredient : ${recipe.ingredientList}">-->
<!--                                        <li class="list-group-item" th:text="${ingredient.name}"></li>-->
<!--                                    </div>-->
<!--                                </ul>-->
<!--                                &lt;!&ndash;      Display Instructions&ndash;&gt;-->
<!--                                <h5 class="modal-instructions-title">Instructions</h5>-->

<!--                                <ul class="instruction-list-group">-->
<!--                                    &lt;!&ndash;      Instructions will display here dynamically      &ndash;&gt;-->
<!--                                    <div th:each="instruction : ${recipe.instructionList}">-->
<!--                                        <li class="list-group-item" th:text="${instruction.name}"></li>-->
<!--                                    </div>-->
<!--                                </ul>-->
<!--                                <div class="modal-recipeSource">-->
<!--                                    <p class="sourceUrl">Click on the title to see recipe owner.</p>-->
<!--                                </div>-->
                            </div>
                            <div sec:authorize="isAuthenticated()">
                                <div th:if="${user.admin} OR ${user.id} == ${recipe.user.id}">
                                    <a th:href="@{|/recipe/${recipe.id}/edit|}">
                                        <button>Edit</button>
                                    </a>
                                    <form th:action="@{|/recipe/${recipe.id}/delete|}" th:method="POST" style="display:inline">
                                        <button>Delete</button>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>