<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Recipes')"></head>

<body class="recipe-background-image h-100">


<div class="wrapper">
    <nav th:replace="partials/navbar :: navbar"></nav>



    <div class="container search-container shadow-lg border mt-5">

        <!-- Search bar that looks in both            -->
        <div class="row">
            <div class="col">
                <form action="#" th:action="@{/recipes}" method="get"
                      class="p-0 mt-5 input-group d-flex justify-content-center align-items-center container">
                    <input class="form-control" type="text" id="search" placeholder="Search Example: apples,flour, etc..." name="search" aria-label="Search"/>
                    <div class="input-group-append">
                        <label for="ingredient-query-input"></label>
                        <input class="btn recipe-button-search" type="submit" id="ingredient-query-input" value="Search"/>
                    </div>
                </form>
            </div>
        </div>


        <form action="#" th:action="@{/recipes}" method="get">
            <label for="categories" class="font-weight-bold">Categories:</label>
            <select th:id="${value}" id="categories" name="categories" class="selectpicker create-recipe-select" multiple data-live-search="true" data-flip="false">
                <option name="categories" id="American" value="1">American</option>
                <option name="categories" id="Chinese" value="2">Chinese</option>
                <option name="categories" id="Italian" value="3">Italian</option>
                <option name="categories" id="Vegetarian" value="4">Vegetarian</option>
                <option name="categories" id="Vegan" value="5">Vegan</option>
                <option name="categories" id="Thai" value="6">Thai</option>
                <option name="categories" id="Indian" value="7">Indian</option>
                <option name="categories" id="Mexican" value="8">Mexican</option>
                <option name="categories" id="German" value="9">German</option>
                <option name="categories" id="Greek" value="10">Greek</option>
                <option name="categories" id="Mediterranean" value="11">Mediterranean</option>
                <option name="categories" id="Cajun" value="12">Cajun</option>
                <option name="categories" id="Latin" value="13">Latin</option>
                <option name="categories" id="French" value="14">French</option>
                <option name="categories" id="Filipino" value="15">Filipino</option>
            </select>
            <button class="btn category-btn" type="submit">Search</button>
        </form>
    </div>

    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="custom-title-container my-5 shadow-lg border border-dark w-50 text-center">User Uploaded Recipes</h2>
    </div>



    <div class="container">
        <!--   Create cards that hold the recipes image and button to show create a modal that will show more in formation.     -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">



            <div th:each="recipe : ${recipes}">
                <div class="col mb-4">
                    <div class="card recipe-card shadow bg-white rounded">
                        <img class="card-img-top" style="height: 16em;" th:attr="src=@{${recipe.recipeImageUrl}}" alt="Recipe image">
                        <div class="card-body">
                            <h4 class="card-title text-center" th:text="${recipe.title}"></h4>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted d-flex justify-content-center align-items-center">
                                <!--                                <a th:href="@{|/recipes/${recipe.id}|}">-->
                                <!--                                    <button class="recipe-button">View Details</button>-->
                                <!--                                </a>-->
                                <button type="button" class="btn modal-recipe-button" data-toggle="modal" data-target="#recipeModalLong" th:attrappend="data-target=${recipe.id}">
                                    View Recipe
                                </button>
                            </small>
                        </div>
                    </div>
                </div>

                <!--      Modal that will hold recipe details       -->
                <div class="modal fade" id="recipeModalLong" tabindex="-1" role="dialog" aria-labelledby="recipeModalLongTitle" aria-hidden="true" th:attrappend="id=${recipe.id}">

                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div sec:authorize="isAuthenticated()">
                                    <a th:href="@{|/profile/${recipe.user.id}|}"><h4 class="modal-title text-center" id="recipeModalLongTitle" th:text="${recipe.title + 'Posted by: ' + recipe.user.username}"></h4></a>
                                </div>
                                <div sec:authorize="isAnonymous()">
                                    <a th:href="@{|/profile/${recipe.user.id}|}"><h4 class="modal-title text-center" id="recipeModalLongTitle" th:text="${recipe.title + 'Posted by: ' + recipe.user.username}"></h4></a>
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-image mx-auto">
                                <!--    Image for recipe    -->
                                <img style="height: 16em;" th:attr="src=@{${recipe.recipeImageUrl}}" alt="Recipe image">
                            </div>
                            <div class="modal-body">
                                <!--    Display the recipes cuisines    -->
                                <ul class="modal-cuisine">
                                    <div th:each="category : ${recipe.categories}">
                                        <li th:text="${category.name}"></li>
                                    </div>
                                </ul>
                                <!--      Display Ingredients title         -->
                                <h5 class="modal-instructions-title">Ingredients</h5>
                                <!--    List displaying the ingredients    -->
                                <ul class="ingredient-list-group">
                                    <!--      Ingredients will display here dynamically      -->
                                    <div th:each="ingredient : ${recipe.ingredientList}">
                                        <li class="list-group-item" th:text="${ingredient.name}"></li>
                                    </div>
                                </ul>
                                <!--      Display Instructions-->
                                <h5 class="modal-instructions-title">Instructions</h5>

                                <ul class="instruction-list-group">
                                    <!--      Instructions will display here dynamically      -->
                                    <div th:each="instruction : ${recipe.instructionList}">
                                        <li class="list-group-item" th:text="${instruction.name}"></li>
                                    </div>
                                </ul>
                                <div class="modal-recipeSource">
                                    <p class="sourceUrl">Click on the title to see recipe owner.</p>
                                </div>
                            </div>
<!--                            <div sec:authorize="isAuthenticated()">-->
<!--                                <div th:if="${user.admin} OR ${user.id} == ${recipe.user.id}">-->
<!--                                    <a th:href="@{|/recipe/${recipe.id}/edit|}">-->
<!--                                        <button>Edit</button>-->
<!--                                    </a>-->
<!--                                    <form th:action="@{|/recipe/${recipe.id}/delete|}" th:method="POST" style="display:inline">-->
<!--                                        <button>Delete</button>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="modal-footer">
                                <div sec:authorize="isAuthenticated()">
                                    <div th:if="${user.admin} OR ${user.id} == ${recipe.user.id}">
                                        <a class="profileFromRecipeNoUnderline"
                                           th:href="@{|/recipe/${recipe.id}/edit|}">
                                                <button type="button" class="btn profileFromRecipeButton">Edit</button>
                                        </a>
                                        <form th:action="@{|/recipe/${recipe.id}/delete|}" th:method="POST" style="display:inline">
                                            <button type="button" class="btn profileFromRecipeButton">Delete</button>
                                        </form>
                                    </div>
                                    <a class="profileFromRecipeNoUnderline"
                                       th:href="@{|/comments/post/${recipe.id}|}">
                                        <button type="button" class="btn profileFromRecipeButton">Comment</button>
                                    </a>
                                </div>
                                <div sec:authorize="!isAuthenticated()">
                                    <a class="profileFromRecipeNoUnderline"
                                       th:href="@{/login}">
                                        <button type="button" class="btn profileFromRecipeButton">Comment</button>
                                    </a>
                                </div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="api-title-container my-5 shadow-lg border border-dark w-50 text-center">PantryChef API Recipes.</h2>
    </div>

    <div class="container ">

        <!--   Cards created dynamically by spoonacular api calls   -->
        <div class="row recipeCards">



        </div>

        <div class="modal fade" id="recipeApiModalLong" tabindex="-1" role="dialog" aria-labelledby="recipeModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="api-modal-title" id="recipeApiModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="api-modal-image mx-auto">

                    </div>
                    <div class="modal-body">
                        <!--    Display the recipes cuisines    -->
                        <ul class="api-modal-cuisine">

                        </ul>
                        <!--      Display Ingredients title         -->
                        <h5 class="modal-instructions-title">Ingredients</h5>
                        <!--    List displaying the ingredients    -->
                        <ul class="api-ingredient-list-group">
                            <!--      Ingredients will display here dynamically      -->
                        </ul>

                        <!--      Display Instructions-->
                        <h5 class="modal-instructions-title">Instructions</h5>
                        <ul class="api-instruction-list-group">
                                <!--      Instructions will display here dynamically      -->
                        </ul>
                            <div class="api-modal-recipeSource">

                            </div>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    </main>-->
</div>


<th:block th:replace="partials/scripts :: scripts"/>
<script th:inline="javascript">


    let spoon = document.querySelector('meta.sapi').content;

    // $('#ingredient-query-input').click(function(){
    if(document.getElementById("search") == null){
        console.log("oops, null");
    }else {
        // Selecting the input element and get its value
        // var inputVal = document.getElementById("search").value;
        // console.log(inputVal);
        // Displaying the value

        var searchString;
        // console.log(searchString);
        var urlSearchString = window.location.href;
        var url = new URL(urlSearchString);
        var searchParam = url.searchParams.get("search");
        searchString = searchParam.replace(/,|,\s/g, ",+");
        // console.log("url string" + searchString);





            $.ajax("https://api.spoonacular.com/recipes/findByIngredients" + "?ingredients=" + searchString + "&number=20&apiKey=" + spoon + "").done(function (data) {




            console.log("inside ajax");
            // console.log(JSON.stringify(data));



                    //Create the cards to hold the data for the recipe

                    var recipe = "";



                    for (var i = 0; i < data.length; i++) {

                        recipe += '<div class="mb-4 col-12 col-sm-6 col-md-4 col-lg-3">';
                        recipe += '<div class="card recipe-card shadow bg-white rounded">';
                        recipe += '<img class="card-img-top" style="height: 16em;" src="' + data[i].image + '" alt="Recipe image" />';
                        recipe += '<div class=card-body>';
                        recipe += '<h4 class="card-title text-center">' + data[i].title + '</h4>';
                        recipe += '</div>';
                        recipe += '<div class="card-footer">';
                        recipe += '<small class="text-muted d-flex justify-content-center align-items-center">';
                        recipe += '<button class="btn btn-primary recipe" data-toggle="modal" data-target="#recipeApiModalLong" id="' + data[i].id + '\">\n' + '  View Recipe\n' + '</button>';
                        recipe += '</small>';
                        recipe += "</div>";
                        recipe += "</div>";
                        recipe += "</div>";
                    }

                    $(".recipeCards").html(recipe);

                    $('.recipe').on('click', function () {


                console.log(this.id + " id should be here");


                    $.ajax("https://api.spoonacular.com/recipes/" + this.id + "/information?includeNutrition=false&apiKey=" + spoon + "").done(function (data) {



                    console.log(data);


                    //Variables to show the specific recipe details
                    let recipeTitle ="";
                    let recipeImage="";
                    let recipeIngredients="";
                    let recipeInstructions="";
                    let recipeCuisines="";
                    let recipeSource="";

                    // recipeTitle += data.title + " by " + data.creditsText;
                    recipeTitle += data.title + " by " + '<a href="'+ data.sourceUrl + '"target=_blank>' + data.creditsText + '</a>';



                    recipeImage += '<img class="img-responsive" src="' + data.image + '" alt="" />';



                            //Display the categories/cuisines for the chosen recipe
                            if(data.cuisines.length == 0){

                        recipeCuisines +=  '<li>' + 'Sorry, no Cuisines associated with recipe at the moment.' + '</li>';

                    }else{
                        for(var j = 0; j < data.cuisines.length; j++){

                            recipeCuisines += '<li>' + data.cuisines[j] + '</li>'

                        }
                    }


                    //For loop to grab the ingredients and put them in a list
                    if(data.extendedIngredients.length == 0){

                        recipeIngredients += 'Currently no available ingredients for this recipe sorry.'

                    }else{
                        for(var i = 0; i < data.extendedIngredients.length; i++){

                            recipeIngredients += '<li class="list-group-item">' +  data.extendedIngredients[i].amount + " " + data.extendedIngredients[i].unit + " " + data.extendedIngredients[i].originalName + '</li>';

                        }
                    }


                    //Grab the instructions from the get request of the the recipe
                    if(data.analyzedInstructions.length == 0){

                        recipeInstructions += '<li class="list-group-item">' + 'Currently no available instructions for this recipe sorry.' + '</li>';

                    }else{

                        for(var k = 0; k < data.analyzedInstructions[0].steps.length; k++){

                            recipeInstructions += '<li class="list-group-item">' + "Step " + data.analyzedInstructions[0].steps[k].number + ": " + data.analyzedInstructions[0].steps[k].step + '</li>';

                        }

                    }


                    //External link for further recipe details

                    recipeSource += '<p>' +'Click on who its by in title to see more recipe details'+ '</p>';

                            //using jquery to display the object properties from the get request
                            $('.api-modal-title').html(recipeTitle);

                            $('.api-modal-cuisine').html(recipeCuisines);

                            $('.api-modal-image').html(recipeImage);

                            $('.api-ingredient-list-group').html(recipeIngredients);

                            $('.api-instruction-list-group').html(recipeInstructions);

                            $('.api-modal-recipeSource').html(recipeSource);

                        })
                    })
                });
            }

</script>
</body>
</html>