<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Profile')"></head>
<!--<style>-->
<!--    .card-columns {-->

<!--    @include media-breakpoint-only(lg) {-->
<!--        column-count: 4;-->
<!--    }-->
<!--    @include media-breakpoint-only(xl) {-->
<!--        column-count: 5;-->
<!--    }-->
<!--    }-->
<!--</style>-->
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <br>
    <br>
    <br>
    <div class="row align-items-center">
        <div class="col-6 mx-auto text-center p-3 card card-block shadow-lg">
            <h1 class="editprofile-text">Edit your profile</h1>
            <p>choose which field you would like to update</p>
            <br>
            <form th:action="@{|/edit/${user.id}|}" method="POST" th:object="${user}">
                <label for="firstName">First Name</label>
                <input th:field="*{first_name}">
                <br>
                <label for="lastName">Last Name</label>
                <input th:field="*{last_name}">
                <br>
                <label for="username">Username</label>
                <input th:field="*{username}"/>
                <br>
                <label for="email">Email</label>
                <input th:field="*{email}"/>

                <!--    <label for="password">Password</label>-->
                <!--    <input type="password" th:field="*{password}"/>-->

                <!-- Button calls function 'pickMark()' onclick now -->
                <!--    <input type="BUTTON" value="Add Profile Image" id="pickWatermark" onclick="pickMark()"><br><br>-->
                <input type="hidden" name="profileImageUrl" id="profileImageUrl" th:field="*{profileImageUrl}">

                <input value="Save Changes" class="shadow-sm submit-button" type="submit"/>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
<footer th:replace="partials/footer :: footer"></footer>
<th:block th:replace="partials/scripts :: scripts"/>

</body>
</html>