<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Profile')"></head>


<body class="edit-profile-background">



<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <br>
    <br>
    <br>
    <div class="row align-items-center">
        <div class="col-6 mx-auto text-center p-3 card card-block shadow-lg">
            <h1 class="editprofile-text">Edit your profile</h1>
            <br>
            <p>Choose which field you would like to update</p>
            <br>
            <form th:action="@{|/edit/${user.id}|}" method="POST" th:object="${user}">
                <label for="firstName" class="font-weight-bold">First Name</label>
                <br>
                <input th:field="*{first_name}" class="mx-auto w-50 shadow-sm form-control">
                <br>
                <label for="lastName" class="font-weight-bold">Last Name</label>
                <br>
                <input th:field="*{last_name}" class="mx-auto w-50 shadow-sm form-control">
                <br>
                <label for="username" class="font-weight-bold">Username</label>
                <br>
                <input th:field="*{username}" class="mx-auto w-50 shadow-sm form-control">
                <br>
                <label for="email" class="font-weight-bold">Email</label>
                <br>
                <input th:field="*{email}" class="mx-auto w-50 shadow-sm form-control">
                <br>
                <!--    <label for="password">Password</label>-->
                <!--    <input type="password" th:field="*{password}"/>-->

                <!-- Button calls function 'pickMark()' onclick now -->
                <br>
                    <input type="BUTTON" value="Add Profile Image" id="pickWatermark" onclick="pickMark()">
                <br>
                <br>
                <input type="hidden" name="profileImageUrl" id="profileImageUrl" th:field="*{profileImageUrl}">
                <input value="Save Changes" class="shadow-sm submit-button" type="submit"/>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
<!--<footer th:replace="partials/footer :: footer"></footer>-->
<th:block th:replace="partials/scripts :: scripts"/>

</body>
</html>