<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="h-100">
<head th:replace="partials/head :: head('Shopping List')"></head>
<body class="shoppingList-background h-100">

<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container d-flex h-100">
    <div class="row col-6 justify-content-center align-self-center mx-auto text-center p-3 shoppingList-background-notepad card card-block shadow-lg mh-75 mw-75">

        <div sec:authorize="isAuthenticated()">



            <div id="notebook-paper">
                <header>
                    <h1>Fancy Title</h1>
                </header>
                <div id="content">
                    <div class="hipsum">
                        <p> Williamsburg, whatever gastropub hashtag master cleanse.  Fap Williamsburg Blue Bottle, yr flannel biodiesel XOXO YOLO freegan pour-over farm-to-table leggings.</p>
                    </div>
                    <div class="hipsum">
                        <p>VHS jean shorts Neutra gastropub cornhole, mumblecore Wes Anderson typewriter Godard bitters 3 wolf moon Odd Future tofu tousled plaid. </p>
                    </div>
                </div>




<!--            <h1 th:text="${user.first_name} + '\'s Shopping List'" class="notepad login-text pt-0"></h1>-->
<!--            <hr class="shoppingList-hr">-->


<!--            <div th:each="item : ${user.getUserShoppingList()}" class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-8">-->
<!--                        <h3 th:text="${item.getShoppingListItem()}" class="text-left login-text"></h3>-->
<!--                    </div>-->
<!--                    <div class="col-2">-->
<!--                        <form th:action="@{|/list/deleteItem/${item.getId()}|}" th:method="POST">-->
<!--                            <button>Delete</button>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                    <div class="col-2">-->
<!--                        <a th:href="@{|/list/edit/${item.getId()}|}">-->
<!--                            <button>Edit</button>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <hr class="shoppingList-hr">-->
<!--                </div>-->
<!--            </div>-->
<!--            <a th:href="@{|/list/addItem|}">-->
<!--                <button>Add Item</button>-->
<!--            </a>-->

        </div>
    </div>
</div>


<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>