<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Sign Up')"></head>
<body class="signup-background image">
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row align-items-center">
        <div class="col-6 mx-auto text-center p-3 card card-block shadow-lg">
            <h1 class ="signup-text">Create an account</h1>
            <br>
            <form th:action="@{/sign-up}" method="POST" th:object="${user}">
                <label for="firstName">First Name</label>
                <input th:field="*{first_name}">

                <label for="lastName">Last Name</label>
                <input th:field="*{last_name}">

                <label for="username">Username</label>
                <input th:field="*{username}"/>

                <label for="email">Email</label>
                <input th:field="*{email}"/>

                <label for="password">Password</label>
                <input type="password" th:field="*{password}"/>

                <!-- Button calls function 'pickMark()' onclick now -->
                <!--    <input type="BUTTON" value="Add Profile Image" id="pickWatermark" onclick="pickMark()"><br><br>-->
                <input type="hidden" name="profileImageUrl" id="profileImageUrl" th:field="*{profileImageUrl}">
                <br>
<!--                <input value="Sign me up!" type="submit"/>-->
                <input class="shadow-sm submit-button" type="submit" value="Sign me up!"/>
            </form>
        </div>
    </div>
</div>
<th:block th:replace="partials/scripts :: scripts"/>
<!--<script th:inline="javascript">-->
<!--    var client = filestack.init(document.querySelector('meta.fsapi').content);-->
<!--    //The function pickMark now will open the file picker-->
<!--    function pickMark() {-->
<!--        console.log("Uploading Photo");-->
<!--        //Opening the file picker here-->
<!--        client.pick({-->
<!--            accept: 'image/*',-->
<!--            maxFiles:1-->
<!--        }).then(function(result) {-->
<!--            console.log("File url: " + result.filesUploaded[0].url);-->
<!--            console.log(pickWatermark);-->
<!--            document.getElementById("profileImageUrl").value = result.filesUploaded[0].url;-->
<!--        });-->
<!--    }-->

<!--</script>-->

</body>
</html>