.editprofile-text {
    font-family: 'Oleo Script Swash Caps', cursive;
}
.edit-profile-background {
    background: url("../images/editimage.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.image-button {
    background: #2BA4B9;
    font-size: 20px;
    color: white;

    height: auto;
    border-radius: 4px;
    border: 1px solid #860806 !important;
    transition: transform .2s;
}

.submit-button {
    background: #2BA4B9;
    font-size: 20px;
    color: white;

    height: auto;
    border-radius: 4px;
    border: 1px solid #860806 !important;
    transition: transform .2s;
}

.submit-buttonNoUnderline:hover {
    text-decoration: none;
}