.fa-file-alt {
    height: 40px;
    width: 40px
}

.fa-edit {
    height: 40px;
    width: 40px
}

.fa-plus-square {
    height: 40px;
    width: 40px
}

.fa-trash {
    height: 40px;
    width: 40px
}

.fa-search {
    height: 40px;
    width: 40px
}

.fa-user-edit {
    height: 40px;
    width: 40px
}

.fa-user {
    height: 40px;
    width: 40px
}

.fa-file-image {
    height: 40px;
    width: 40px
}

.fa-comment {
    height: 40px;
    width: 40px
}