.fas{
    transition: transform .2s;
    color: #2BA4B9 !important;
}
.fas:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.2);
    color: #860806;
}
/*.fa-trash {*/
/*    color: #2BA4B9 !important;*/
/*}*/
.button{
    background: transparent;
    border: none;
}
.fa-file-alt {

}

.fa-edit {

}

.fa-plus-square {

}

.fa-search {

}

.fa-user-edit {
}

.fa-user {

}

.fa-file-image {
}

.fa-comment {

}