.landingPage-PantryChef-text {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: white;
    /*opacity: 1;*/
    /*-webkit-text-stroke-width: 1px;*/
    /*-webkit-text-stroke-color: black;*/
    letter-spacing: 0.08em;
}

.landingPage-slogan-text {
    color: white;
}

.carousel-caption {
    position: center!important;
    top: 30% !important;
    /*right: 15%;*/
    /*bottom: 20px;*/
    /*left: 15%;*/
    z-index: 10;
    /*padding-top: 20px;*/
    /*padding-bottom: 7em;*/
    /*color: #fff;*/
    text-align: center!important;
}