.login-background-image {
    background: url("https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?cs=srgb&dl=assorted-salads-on-bowls-1640773.jpg&fm=jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-text {
    font-family: 'Oleo Script Swash Caps', cursive;
}

.main-styling-for-buttons {
    background: #2BA4B9;
    font-size: 20px;
    color: white;
    width: 6em;
    height: auto;
    border-radius: 4px;
    border: 1px solid #860806 !important;
    transition: transform .2s;
}

.main-styling-for-buttons:hover {
    opacity: 1
}