.profile-background {
    background: url("../images/imagescontainer/finalproimage.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.welcome-text {
    font-family: 'Oleo Script Swash Caps', cursive;
}

.profile-background-color {
    background: white !important;
}

