.profileFromRecipe-background-image {
    background: url("../images/imagescontainer/image.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.profileFromRecipeText {
    font-family: 'Oleo Script Swash Caps', cursive;
}

.profileFromRecipeTextV2 {
    margin-left: .8em;
}

.profileFromRecipeButton {
    background: #2BA4B9;
    color: white;
    border-radius: 4px;
    border-color: #860806;
}

.profileFromRecipeButtonV2 {
    background: #860806;
    color: white;
}

.profileFromRecipeNoUnderline:hover {
    text-decoration: none;
}

.profileFromRecipe-hr {
    background-color: #860806;
    margin-bottom: .8em;
}

.profileFromRecipe-hr-v2 {
    background-color: #860806;
}

.profileFromRecipeModuleImage {
    width: 34.75em;
    height: 23.125em;
}

.profileFromRecipeTextMargin {
    padding-top: 1.6em;
}

.profileFromRecipeBackgroundColor {
    background: white !important;
}

.profileFromRecipeAnchorTags {
    color: #2BA4B9;
}

.profileFromRecipeAnchorTags:hover {
    text-decoration: underline #860806;
    color: #2BA4B9;
}

.profileFromRecipeCategoryList {
    list-style-type: none;
}