.recipe-button{
    background-color:#2BA4B9 !important;
    border-radius: 6px;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}
.recipe-button:hover{
    color: #0E3E4F;
}
.recipe-button-search{
    background-color:#2BA4B9 !important;
    color: white;
    font-weight: bold;
}
.recipe-card{
    height: 30em;
}

/*.test-color{*/
/*color: #676672;*/
/*#860806*/
/*#0E3E4F*/
/*#676672*/
/*#2BA4B9*/
/*}*/