
/*.test-color{*/
/*color: #676672;*/
/*#860806*/
/*#0E3E4F*/
/*#676672*/
/*#2BA4B9*/
/*}*/

.recipe-background-image{
    background: url("../images/shutterstock_768948766.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.recipe-button{
    background-color:#2BA4B9 !important;
    border-radius: 6px;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}

.recipe-button:hover{
    color: #0E3E4F;
}

.recipe-button-search{
    background-color:#2BA4B9 !important;
    color: white;
    font-weight: bold;
    border: 1px solid #860806;
}
.recipe-card{
    height: 30em;
}

.bg-white{
    background-color: #2BA4B9 !important;
}

.card-body{
    background-color: white;
}

.card-footer{
    background-color: #F7F7F7;
}

.btn-primary{

    background-color:#2BA4B9 !important;
    border: 1px solid #860806 !important;
    font-weight: bold;
}
.btn-primary:hover{
    color: #0E3E4F !important;
}

.btn-secondary{
    background: #860806 !important;
    color: white !important;
}

.category-btn{
    background-color:#2BA4B9;
    text-decoration-color: #ffffff;
    color: white;
    font-weight: bold;
    border: 1px solid black;
}

.search-container {
    background-color: white;
}

.create-recipe-select{
    border: slategrey solid 1px;
    border-radius: 5px;
}
.example-search{
    list-style-type: none;
}

.profileFromRecipeButton {
    background: #2BA4B9;
    color: white;
    border-radius: 4px;
    border-color: #860806;
}
.profileFromRecipeNoUnderline:hover {
    text-decoration: none;
}

.custom-title-container {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: white;
}

.api-title-container {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: white;
}

.api-modal-title{
    text-decoration: none;
    color: black;
}

.main-title-container{
    font-family: 'Oleo Script Swash Caps', cursive;
    color: white;
}

.main-title-text{
    font-family: 'Oleo Script Swash Caps', cursive;
    color: white;
}

