.signup-background {
    background: url("https://www.pexels.com/photo/sharing-cherry-tomatoes-3184188/") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.signup-text {
    font-family: 'Oleo Script Swash Caps', cursive;
}

.submit-button {
    background: #2BA4B9;
    color: white;
    border-radius: 4px;
    width: 8em;
    height: auto;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.submit-button:hover {opacity: 1}